h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
}

body {
    background-color: #131314;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.primary-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

header {
    margin: 0px 0px;
    padding: 56px;
    background-color: #1a1a1d;
    border-radius: 20px;
    justify-content: left;
    grid-column-end: auto;
    grid-column-start: span 2;
    min-height: max-content;
    background-size: cover;
}

header h1 {
    font-size: 81px;
    font-weight: 700;
    color: #FFC300;
}

header p {
    font-size: 24px;
    font-weight: 300;
}

.lottie-clip {
    background-color: #dafbac;
    width: 100%;
    height: 50%;
    margin: 0px 0px 0px 10px;
    border-radius: 20px;
}

/* Color Header */

.color-header {
    margin: 10px 0px 10px 0px;
    padding: 20px 40px;
    background-color: #1a1a1d;
    border-radius: 20px;
    justify-content: left;
    width: 100%;
}

.color-header h2 {
    background-color: #313136;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 54px;
    padding: 40px;
    border-radius: 12px;
}

/* Typograhy Header*/

.typo-header {
    margin: 10px 0px 10px 10px;
    padding: 20px 40px;
    background-color: #1a1a1d;
    border-radius: 20px;
    justify-content: left;
}

.typo-header h2 {
    background-color: #313136;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 54px;
    padding: 40px;
    border-radius: 12px;
}

/* Typescale Header*/

.type-scale {
    margin: 0px 0px 10px 0px;
    padding: 20px 40px;
    background-color: #1a1a1d;
    border-radius: 20px;
    justify-content: left;
}

.type-scale > h2 {
    background-color: #313136;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 54px;
    padding: 40px;
    border-radius: 12px;
}

/* Color Child */

.palette #color1 {
    background-color: #000814;
    padding: 36px;
    border-radius: 12px;
    border: 1px solid #fff;
    margin-bottom: 12px;
}

.palette #color2 {
    background-color: #001D3D;
    padding: 36px;
    border-radius: 12px;
    margin-bottom: 12px;
    border: 1px solid #fff
}

.palette #color3 {
    background-color: #003566;
    padding: 36px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.palette #color4 {
    background-color: #ffc300;
    padding: 36px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.palette #color5 {
    background-color: #FFD60A;
    padding: 36px;
    border-radius: 12px;
    margin-bottom: 30px;
}


.palette h3 {
    text-align: left;
    font-size: 24px;
    margin: 10px auto;
}

.palette p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin: 0px auto 10px auto;
}

.palette #color4 h3,
#color4 p {
    color: #000814;
}

.palette #color5 h3,
#color5 p {
    color: #000814;
}

/* Typo Child */

.typo p {
    margin: 0px 0px 10px 0px;
    padding: 10px 0px;
    border-bottom: 0.5px solid #a4a4a4;
}

.typo h6 {
    margin-top: 10px;
}

.typo #montserrat h3 {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 36px;
    text-decoration: underline;
}

.typo #montserrat h6,
.typo #quicksand h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #a4a4a4;
    font-weight: 300;
    margin-bottom: 0px;
}


.typo #montserrat .normal {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 16px;
}

.typo #montserrat .bold {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.typo #montserrat .italic {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.typo #quicksand h3 {
    text-align: left;
    font-size: 36px;
    text-decoration: underline;
}

.typo #quicksand .normal {
    text-align: left;
    font-size: 16px;
}

.typo #quicksand .bold {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.typo #quicksand .italic {
    text-align: left;
    font-size: 16px;
    font-style: italic;
}

/* Typescale Child*/

.heading1, .heading2, .paragraph, note{
    margin-bottom: 6px;
}

.type-scale ul {
    padding: 0px 0px 10px 70px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.type-scale li {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    color: #fff;
    padding: 0px 0px 10px 0px;
}

.heading1 {
    border: 1px solid #fff;
    border-radius: 20px;
}

.heading1 h3 {
    color: #FFC300;
    padding: 0px 40px 10px 50px;
    margin-top: 0px;
}

.heading1 h1 {
    font-size: 121.5px;
    color: #fff;
    line-height: 121.5px;
    padding: 40px 40px 10px 40px;
    margin: 0px 0px 0px 0px;
}

/*----------------*/

.heading2 {
    border: 1px solid #fff;
    border-radius: 20px;
}

.heading2 h2 {
    font-size: 54px;
    color: #fff;
    line-height: 54px;
    padding: 40px 40px 10px 40px;
    margin: 0px 0px 0px 0px;
}

.heading2 h3 {
    color: #FFC300;
    padding: 0px 40px 10px 40px;
    margin-top: 0px;
}

/*----------------*/

.paragraph {
    border: 1px solid #fff;
    border-radius: 20px;
}

.paragraph p{
    font-size: 24px;
    color: #fff;
    line-height: 24px;
    padding: 40px 40px 10px 40px;
    margin: 0px 0px 0px 0px;
}

.paragraph h3 {
    color: #FFC300;
    padding: 0px 40px 10px 40px;
    margin-top: 0px;
}

/*----------------*/

.note {
    border: 1px solid #fff;
    border-radius: 20px;
}

.note p{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    padding: 40px 40px 10px 40px;
    margin: 0px 0px 0px 0px;
}

.note h3 {
    color: #FFC300;
    padding: 0px 40px 10px 40px;
    margin-top: 0px;
}
